.tasks-container {
  position: absolute;
  height: 75%;
  width: 60%;
  left: 20%;
  background: #e2e2e2;
  border: 2px solid grey;
  border-radius: 20px;
  contain: content;
  overflow-y: scroll;
}

.controls {
  position: relative;
  width: 60%;
  left: 20%;
  text-align: end;
  margin-bottom: 10px;
}